:root{
    --primaryColour: #009bd6;
    --secondaryColour: #E0E0E0;
    --tertiaryColour: #FAFAFA;
    --backgroundCanvas: #e2e8f0;
    --cardSideBorder: #f1c04d;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.parentDiv{
    display: grid;
    grid-template-columns: minmax(180px, 300px) repeat(4, max(100px, 1fr));
    grid-template-rows: 30px 1fr 7fr 1fr 30px;
    height: 100vh;
    background-color: var(--backgroundCanvas);
}

.ButtonClass{
    background-color: var(--primaryColour);
    border-radius: 50px;
    color: white;
    font-weight: 900;
    height: 40px;
    width: 100px;
    padding: 10px;
    border: none;
    align-self: center;
}

/* SideBar Styles */

.Sidebar{
    grid-area: 1/1/5/2;
    background-color: var(--primaryColour);
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 50px;
}

.TitleContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.DashboardTitle{
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.Title{
    display: flex;
    padding-left: 15px;
    margin: 0px;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.DashboardIcon{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 5px;
}

.menuContainerRow{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.menuRowText{
    display: flex;
    padding-left: 15px;
    margin: 0px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    align-items: center;
    font-weight: 900;
}

/* Header Styles */
.HeaderContainer{
    display: grid;
    grid-area: 1/2/3/6;
    
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;

    background-color: white;
    box-shadow: 0px 3px 5px grey;
}

.HSectionA {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: 1/1/2/3;
}

.HSectionB {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: 2/1/3/3;
}
.searchBarContainer{
    display: grid;
    grid-template-columns: 40px 1fr;
    padding-right: 20px;
    gap: 10px;
    grid-column: 1;
}
.welcomeContainer{
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr 2fr; 
    grid-area: 2/1/3/2;
}

.UserWelcomeAvatar{
    display: flex;
    grid-area: 1/1/3/2;
}

.WelcomeIcon{
    padding-left: 10px;
    align-self: center;
    height: 50px;
}

.UserWelcomeText1{
    grid-area: 1/2/2/3;
    font-weight: 900;
}

.UserWelcomeText2{
    grid-area: 2/2/3/3;
    font-weight: 900;
    align-self: center;
    font-size: x-large;
}

.NotificationsContainer{
    display: grid;
    grid-column: 2;
    grid-template-columns: 20px 60px 1fr 3fr 20px ;

}

.UserName{
    align-content: center;
    text-align: left;
    font-size: larger;
    font-weight: 900;
    grid-area: 2/4/3/5;
}

.userIconRight{
    height: 75px;
}


.UserIcon{
    grid-area: 2/3/3/4;
}

.ControlButtonContainer{
grid-area: 2/2/3/3;
display: flex;
justify-content: space-around;
}




.searchbar{
    border-radius: 10px;
    background-color: lightgray;
    border: 0px;
    height: 20px;
    align-self: center;
    width: 100%;
    margin-right: 8px;
}

.SearchBarIcon{
    align-self: center;
    padding-left: 10px;
}

.NotificationBellIcon{
    grid-area: 2/2/3/3;
    align-self: center;
    margin: 0px;
}

/* Body Styles */

.MainContentContainer{
    grid-area: 3/2/5/6;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.ProjectsContainer{
    grid-area: 1/1/3/2;

    display: grid;
    grid-template-rows: 50px 1fr;
}

.ProjectAreaHeading{
    grid-area: 1/1/2/2;

    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    padding-bottom: 5px;

    display: flex;
    align-items: flex-end;
}

.ProjectCardArea{
    grid-area: 2/1/3/2;

    padding-left: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(200px, 50% ,350px));
    overflow: auto;
}

.ProjectCard{    
    display: grid;
    grid-template-columns: 5px 1fr 1fr;
    grid-template-rows: 30px 1fr 45px;

    background-color: white;
    border-radius: 8px;
    height: 200px;
    width: max(300px, 1fr);
    margin: 10px;
}

.CardBorder{
    background-color: var(--cardSideBorder);
    border-radius: 8px 0px 0px 8px;
    grid-area: 1/1/4/2;
}

.CardTitle{
    grid-area: 1/2/2/4;
    font-weight: 800;
    align-content: end;
    padding-left: 5px;

}

.CardDescription{
    grid-area: 2/2/3/4;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    -webkit-box-pack:end;

}

.CardButtons{
    display: flex;
    grid-area: 3/2/4/4;
    align-content: center;
    justify-content: end;
    padding: 8px;
    gap: 8px;
}



.AnouncementsContainer{    
    grid-area: 1/2/2/3;
    padding: 10px;
    
    display: grid;
    grid-template-rows: 50px 1fr;
}

.AnnouncementsCard{
    display: flex;
    flex-direction: column;
    grid-area: 2/1/3/2;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    overflow: auto;

}

.AnnouncementsHeading{
    grid-area: 1/1/2/2;

    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    padding-bottom: 5px;

    display: flex;
    align-items: center;

    
}

.AnnouncementsRow{
    display: grid;
    grid-template-rows: 25px 1fr;
    border-bottom: 3px solid grey;
    padding-bottom: 5px;
    padding-top: 5px;    
}

.AnnouncementsRow:last-of-type{
    border-bottom: none;
}
.AnnouncementsRowHeader{
    display: flex;
    grid-area: 1/1/2/2;
    font-weight: 800;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 3px;
    align-content: end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AnnouncementsRowDesc{
    grid-area: 2/1/3/2;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack:end;
    
}  

.TrendingContainer{
    grid-area: 2/2/3/3;
    
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 8px;
}

.TrendingHeader{
    grid-area: 1/1/2/2;

    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    padding-bottom: 5px;

    display: flex;
    align-items: center;

}

.TrendingCard{
    background-color: white;
    border-radius: 8px;
    overflow: auto;
}

.TrendingRow{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px 1fr;
    padding: 10px;
}

.TrendingRowImage{
    display: grid;
    grid-area: 1/1/3/2;
    height: 50px;
    width: 50px;
}

.TrendingRowHeader{
    grid-area: 1/2/2/3;
    padding-left: 10px;
    font-weight: 900;
}

.TrendingRowDesc{
    grid-area: 2/2/3/3;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: grey;
    font-weight: 600;
}

/* Footer Styles */

.Footer{
    grid-area: 5/1/6/6;
    background-color: var(--tertiaryColour);
    text-align: center;
    width: 100vw;
}

/* Test Class */
.TestClass1{
    background-color: purple;
    border: 1px solid red;
}

.TestClass2{
    background-color: purple;
    border: 1px solid green;
}

.TestClass3{
    background-color: purple;
    border: 1px solid cyan;
}

.TestBorderClass{
    border: 1px solid purple;
}